*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    position: relative;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}
/*First Part*/
nav{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.h1{
    width: 50%;
    float: left;
    padding-left: 100px;
    font-size: 25px;
}
.al1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-decoration: none;
}
.a{
    color: black;
    text-decoration: none;
}
.ul{
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 100px;
}
.li{
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
}
.nav a:hover{
    color: aqua;
}
.Background1{
    clear: both;
    background-image: url(../images/atf-image.jpg);
    background-size: 100%;
    background-position: center;
    height: 500px;
    width: 1465px;
    background-repeat: no-repeat;
}
.h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 100px;
    font-size: 50px;
    position: relative;
    display: block;
    top: 100px;
    text-transform: uppercase;
    opacity: 70%;
}
.Background1 span{
    position: relative;
    text-transform: uppercase;
    padding-left: 100px;
    font-size: 50px;
    color: limegreen;
    top: -5px;
}
.p1{
    padding-left: 100px;
    position: relative;
    top: 90px;
    font-weight: 0;
    opacity: 70%;
    font-style: italic;
}
.al2{
    top: 115px;
    position: relative;
    background-color: black;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 100px;
}
/*Merchandise Part*/
.Background2{
    margin-top: 50px;
    margin-left: 100px;
    float: left;
    background-image: url(../images/merchandise1.jpg);
    background-size: 100%;
    height: 250px;
    width: 635px;
    background-repeat: no-repeat;
}
.Background3{
    margin-top: 50px;
    margin-right: 100px;
    float: right;
    background-image: url(../images/merchandise2.jpg);
    background-size: 100%;
    height: 250px;
    width: 635px;
    background-repeat: no-repeat;
}
.h3{
    top: 75px;
    padding-left: 50px;
    font-size: none;
    position: relative;
    display: flex;
    text-transform: uppercase;
    color: white;
}
.al3{
    top: 100px;
    padding-left: 50px;
    font-size: smaller;
    position: relative;
    display: flex;
    text-transform: uppercase;
    color: white;
}
.h3--2{
    top: 75px;
    padding-left: 50px;
    font-size: none;
    position: relative;
    display: flex;
    text-transform: uppercase;
    color: white;
}
.al4{
    top: 100px;
    padding-left: 50px;
    font-size: smaller;
    position: relative;
    display: flex;
    text-transform: uppercase;
    color: white;
}
.hd2{
    padding-top: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p2{
    text-align: center;
    font-style: italic;
    padding-top: 100px;
    padding-bottom: 0;
    margin: 0;
    color: rgb(185, 90, 0);
    opacity: 70%;
}
.h2-2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 0;
    margin-top: 5px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 0;
}
hr{
    text-align: center;
    margin-top: 15px;
    margin-left: 650px;
    margin-right: 660px;
    margin-bottom: 20px;
    border-top: solid rgb(185, 90, 0);
    opacity: 70%;
}
.columns{
    float: left;
    padding-inline: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
#row1 .columns .img1{   
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 300px;
    width: 305px;
}
#row1 .columns .img2{   
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 300px;
    width: 305px;
}
#row1 .columns .img3{   
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 300px;
    width: 305px;
}
#row1 .columns .img4{   
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 300px;
    width: 324px;
}
.columns .h33{
    padding-top: 0;
    margin-top: 0;
    font-size: 90%;
    float: inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.columns .h34{
    padding-top: 0;
    margin-top: 0;
    font-size: 90%;
    float: inline-end;
    padding-inline: 0px;
    padding-left: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.columns .h35{
    padding-top: 0;
    margin-top: 0;
    font-size: 90%;
    float: inline-end;
    padding-inline: 0px;
    padding-left: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.columns .h36{
    padding-top: 0;
    margin-top: 0;
    font-size: 90%;
    float: inline-end;
    padding-inline: 0px;
    padding-left: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.columns .p3{
    float: inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.columns .p4{
    float: inline-end;
    padding-inline: 0px;
    padding-left: 00px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.columns .p5{
    float: inline-end;
    padding-inline: 0px;
    padding-left: 00px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.columns .p6{
    float: inline-end;
    padding-inline: 0px;
    padding-left: 00px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.columns .p3-1{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.columns .p4-2{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 00px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.columns .p5-3{
    float:inline-end;
    padding-inline: 0px;
    padding-left: 00px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.columns .p6-4{
    float:inline-end;
    padding-inline: 0px;
    padding-right: 00px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.columns1 {
    float: left;
    padding-inline: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
#row2 .columns1 .img5{   
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 270px;
    width: 305px;
}
#row2 .columns1 .img6{   
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 270px;
    width: 305px;
}
#row2 .columns1 .img7{   
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 270px;
    width: 305px;
}
#row2 .columns1 .img8{   
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 270px;
    width: 323px;
}
.columns1 .h37{
    padding-top: 0;
    margin-top: 0;
    font-size: 90%;
    float: inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.columns1 .h38{
    padding-top: 0;
    margin-top: 0;
    font-size: 90%;
    float: inline-end;
    padding-inline: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.columns1 .h39{
    padding-top: 0;
    margin-top: 0;
    font-size: 90%;
    float: inline-end;
    padding-inline: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.columns1 .h310{
    padding-top: 0;
    margin-top: 0;
    font-size: 90%;
    float: inline-end;
    padding-inline: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.columns1 .p7{
    float: inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.columns1 .p8{
    float: inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.columns1 .p9{
    float: inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.columns1 .p10{
    float:inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.columns1 .p7-5{
    float: inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.columns1 .p8-6{
    float: inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.columns1 .p9-7{
    float: inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.columns1 .p10-8{
    float: inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 0px;
    margin-top: 0px;
}
.bannerd{
    background-image: url(../images/banner.jpg);
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    float: left;
    background-size: 100%;
    width: 1267px;
    padding-bottom: 150px;
    background-repeat: no-repeat;
}
.bannerd p{
    position: relative;
    text-align: center;
    font-style: italic;
    color: rgb(244, 121, 6);
    padding-top: 100px;
    opacity: 70%;
}
.bannerd h2{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: white;
    top: 5px;
}
.bannerd a{
    top: 25px;
    position: relative;
    background-color: white;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    padding: 10px;
    margin-left: 595px;
    margin-right: 450px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*MERCHANDISE PART*/
.Merchantsales p{
    padding-top: 1000px;
}
.Merchantsales p{
    text-align: center;
    font-style: italic;
    padding-top: 1050px;
    padding-bottom: 0;
    margin-top: 80px;
    color: rgb(185, 90, 0);
}
.Merchantsales h2{
    text-align: center;
    text-transform: uppercase;
    padding-top: 0;
    margin-top: 5px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hr2{
    margin-top: 15px;
    text-align: center;
    margin-left: 670px;
    margin-right: 680px;
    border-top: solid rgb(185, 90, 0);
}
/* AREA OF PRODUCTS PART */
.columns2{
    float: left;
    padding-inline: 0px;
    padding-left: 2px;
    padding-right: 2px;
}
#row3 .columns2 .img9{
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 300px;
    width: 305px;
}
#row3 .columns2 .img10{
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 300px;
    width: 305px;
}
#row3 .columns2 .img11{
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 300px;
    width: 305px;
}
#row3 .columns2 .img12{
    margin-right: 100px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 300px;
    width: 335px;
}
.columns2 .h311{
    padding-top: 0;
    margin-top: 0;
    font-size: 90%;
    float: inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.columns2 .h312{
    padding-top: 0;
    margin-top: 0;
    font-size: 90%;
    float: inline-end;
    padding-inline: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.columns2 .h313{
    padding-top: 0;
    margin-top: 0;
    font-size: 90%;
    float: inline-end;
    padding-inline: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.columns2 .h314{
    padding-top: 0;
    margin-top: 0;
    font-size: 90%;
    float: inline-end;
    padding-inline: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.columns2 .p11{
    float: inline-end;
    padding-inline: 0px;
    padding-left: 100px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.columns2 .p12{
    float: inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.columns2 .p13{
    float: inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.columns2 .p14{
    float: inline-end;
    padding-inline: 0px;
    opacity: 70%;
    color: rgb(185, 90, 0);
    padding-top: 2px;
    margin-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.thebox h3{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 20px;
}
.thebox a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 50px;
}
.boxe1{
    height: 250px;
    width: 630px;
    float: left;
    background-size: cover;
    position: relative;
    margin-left: 110px;
    margin-top: 70px;
}
.boxe2{
    height: 250px;
    width: 630px;
    float: left;
    background-size: cover;
    position: relative;
    margin-top: 70px;
}
.boxe3{
    height: 250px;
    width: 630px;
    clear: both;
    float: left;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.boxe4{
    height: 250px;
    width: 630px;
    float: left;
    background-size: cover;
    position: relative;
}
.boxe1:nth-child(1){
    margin-left: 100px;
    margin-right: auto;
    background-image: url(../images/merchandise3.jpg);
    margin-bottom: 5px;
}
.boxe2:nth-child(2){
    margin-left: 5px;
    margin-right: auto;
    background-image: url(../images/merchandise4.jpg);
    margin-bottom: 5px;
}
.boxe3:nth-child(3){
    margin-left: 100px;
    margin-right: 0px;
    background-image: url(../images/merchandise5.jpg);
}
.boxe4:nth-child(4){
    margin-left: 5px;
    margin-right: 0px;
    background-image: url(../images/merchandise6.jpg);
}
/* FORMS OF RESERVARTION */
.h23{
    clear: both;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
}
.reserform{
    background-color: rgb(248, 246, 246);
    height: 330px;
    width: 625px;
    float: left;
    background-size: cover;
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 10px;
}
.formers2{
    background-color: rgb(248, 246, 246);
    height: 490px;
    width: 630px;
    float: left;
    background-size: cover;
    position: relative;
    margin-right: 100px;
    margin-top: 50px;
}
.labell1{
   margin-left: 20px;
   top: 20px;
   position: relative;
}
.inputt1{
    margin-left: 20px;
    margin-right: 20px;
    top: 20px;
    padding: 5px;
    padding-right: 350px;
    position: relative;
}
.labell2{
    margin-left: 20px;
    top: 25px;
    position: relative;
}
.inputt2{
    margin-left: 20px;
    margin-right: 20px;
    top: 25px;
    padding: 5px;
    padding-right: 350px;
    position: relative;
}
.labell3{
    margin-left: 20px;
    top: 30px;
    position: relative;
}
.inputt3{
    margin-left: 20px;
    margin-right: 20px;
    top: 30px;
    padding: 5px;
    padding-right: 350px;
    position: relative;
}
.labell4{
    margin-left: 20px;
    top: 35px;
    position: relative;
}
.inputt4{
    margin-left: 20px;
    margin-right: 20px;
    top: 35px;
    background-color: rgb(228, 228, 228);
    padding-right: 405px;
    position: relative;
}
.labell5{
    margin-left: 20px;
    top: 40px;
    position: relative;
}
.inputt5{
    margin-left: 15px;
    margin-right: 15px;
    top: 40px;
    padding: 5px;
    padding-right: 405px;
    position: relative;
}
.labell6{
    top: 45px;
    position: relative;
}
.inputt6{
    margin-left: 20px;
    top: 45px;
    padding: 5px;
    padding-right: 440px;
    position: relative;
}
.labell7{
    top: 45px;
    position: relative;
}
.inputt7{
    top: 45px;
    padding: 5px;
    padding-right: 310px;
    position: relative;
}
/* FORMER2 AREA */
.legends1{
    margin-left: 20px;
    top: 20px;
    position: relative;
}
.legends2{
    margin-right: 20px;
    padding-bottom: 30px;
    position: relative;
}
.formers3 h3{
    padding-top: 30px;
    text-align: center;
    font-size: large;
}
.formers3 p{
    text-align: center;
    font-size: small;
}
.labell8{
    margin-left: 20px;
    position: relative;
}
.inputt8{
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    padding-right: 320px;
    position: relative;
}
.labell9{
    margin-left: 20px;
    position: relative;
    top: 5px;
}
.inputt9{
    margin-left: 20px;
    margin-right: 20px;
    top: 5px;
    padding: 5px;
    padding-right: 320px;
    position: relative;
}
.labell10{
    top: 10px;
    position: relative;
}
.inputt10{
    margin-left: 20px;
    top: 10px;
    padding: 5px;
    position: relative;
}
.button{
    margin-left: 20px;
    margin-right: 20px;
    top: 15px;
    padding: 5px;
    position: relative;
    background-color: green;
}
.button a{
    position: relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto;
    padding-right: 220px;
    padding-left: 220px;
}
/* FOOOOTERRR PART*/
.foooter1{
    clear: both;
    position: relative;
    background-image: url(../images/footer-img.jpg);
    background-size: cover;
    height: 210px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.opawnot{
    font-weight: none;
}
.footer1:nth-child(1){
    position: relative;
    margin-left: 100px;
    padding-top: 30px;
    float: left;
    color: white;
}
.foooter2:nth-child(2){
    position: relative;
    margin-left: 50px;
    padding-top: 30px;
    float: left;
    color: white;
}
.foooter3:nth-child(3){
    position: relative;
    margin-left: 50px;
    padding-top: 30px;
    float: left;
}
.foooter4:nth-child(4){
    position: relative;
    margin-left: 50px;
    margin-right: 100px;
    padding-top: 30px;
    float: left;
}
.foooter1 h3{
    text-transform: uppercase;
}
.foooter2 p{
    color: rgb(223, 125, 35);
    opacity: 70%;
}
.foooter3{
    color: white;
}
#ftp1{
    padding-top: 10px;
    color: rgb(223, 126, 35);
    opacity: 70%;
}
.search1{
    opacity: 70%;
}
#ftp2{
    padding-bottom: 10px;
}
.foooter3 input{
    padding: 10px;
}
.foooter3 #inputtfoooter{
    background-color: rgb(223, 125, 35);
}
.foooter4 {
    color: white;
}
.foooter4 h3{
    text-transform: uppercase;
    color: white;
}
.foooter4 h4{
    color: rgb(223, 125, 35);
    text-transform: uppercase;
    padding-top: 10px;
    opacity: 70%;
}
.footer2{
    overflow: auto;
    width: 100%;
    background-color: black;
    padding: 50px;
    color: white;
}
.footer2 h2{
    float: left;
    font-size: 25px;
    margin-left: 50px;
}
.footer2 a{
    color: white;
}
.footer2 ul{
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 10px;
    padding-right: 100px;
    color: white;
}
.footer2 li{
    display: inline-block;
    font-size: 12px;
    color: white;
}
.footer2 p{
    width: 50%;
    float: right;
    margin-bottom: 100px;
    padding-right: 100px;
    color: white;
}
.footer2 span{
    margin-top: 10px;
    float: left;
    text-align: right;
}
